section.footer  
  ul.footer__contacts 
    a(href="#")
      li Behance
    a(href="#")
      li Instagram
    a(href="#")
      li Facebook
  a.footer__phone(href="tel:+78005006340") 8 800 500 63 40 
  p.footer__copyright ©promogroup 2008-2021
