h3.form__header Сделать будущее
  br
  | бренда — успешным
form(action="" method="POST")
  input(type="text" name="name" placeholder="Имя").form__input
  input(type="email" name="email" placeholder="E-mail").form__input
  input(type="tel" name="tel" placeholder="Телефон").form__input
  input(type="text" name="decription" placeholder="Расскажите о своем проекте").form__input
  p.form__caption Заполняя форму, вы соглашаетесь на 
    span обработку персональных данных 
    | (ст.9 ФЗ от 27.07.2006 №152-ФЗ «О персональных данных»)
  button(type="sumbit").form__button Отправить запрос