h3.form__header Making the future
  br
  | of the brand successful
form(action="" method="POST")
  input(type="text" name="name" placeholder="Name").form__input
  input(type="email" name="email" placeholder="E-mail").form__input
  input(type="tel" name="tel" placeholder="Phone").form__input
  input(type="text" name="decription" placeholder="Tell us about your project").form__input
  p.form__caption By filling out the form, you agree to the
    span processing of personal data
    | (Article 9 of the Federal Law of July 27, 2006, No. 152-FZ "On Personal Data")
  button(type="submit").form__button Send request