section.nav
  div.nav__wrap  

    h2.nav__header
      a(href='index.html') Promogroup

    a.burger_menu__button(href='#') Open the menu
      div.burger_menu__lines

    div.burger_menu
      nav.nav_canvas
        ul.nav__list
          li 
            a.nav__list_item(href='projects.html') Projects
          li 
            a.nav__list_item(href='about.html') About
          li 
            a.nav__list_item(href='contacts.html') Contacts
      section.nav__footer
        include footer.pug