//fonts
$font-main-header: 'CodecProExtraBold', Arial, sans-serif;
$font-semibold: 'Montserrat-SemiBold', Arial, sans-serif;
$font-regular: 'Montserrat-Regular', Arial, sans-serif;
$font-light: 'Montserrat-Light', Arial, sans-serif;
$font-bold: 'Montserrat-Black', Arial, sans-serif;

//colors:
$white: #ffffff;
$blue: #0000FF;
$purple: #6E6EFF;
$black: #333333;
$nav-items-color: #6D6D6D;
$popup-nav-items-color: #E7E7E7;
$dark-gray: #686868;
$medium-gray: #767676;
$light-gray: #CECECE;
$almout-white: #E7E7E7;
$aside-unactive: #DCDCDC;
$decription-text-color: #717171;
$year-color: #B6B6B6;
$form-unactive-border-color: #E8E8E8;
$form-unactive-font-color: #9D9D9D;
$form-caption-font-color: #4A4A4A;