
<section class="nav">
  <div class="nav__wrap"> 
    <h2 class="nav__header"><a href="index.html">Promogroup</a></h2><a class="burger_menu__button" href="#">Открыть меню
      <div class="burger_menu__lines"></div></a>
    <div class="burger_menu">
      <nav class="nav_canvas">
        <ul class="nav__list">
          <li> <a class="nav__list_item" href="projects.html">Проекты</a></li>
          <li> <a class="nav__list_item" href="about.html">О компании</a></li>
          <li> <a class="nav__list_item" href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
      <section class="nav__footer">
        <section class="footer"> 
          <ul class="footer__contacts"> <a href="#">
              <li>Behance</li></a><a href="#">
              <li>Instagram</li></a><a href="#">
              <li>Facebook</li></a></ul><a class="footer__phone" href="tel:+78005006340">8 800 500 63 40 </a>
          <p class="footer__copyright">©promogroup 2008-2021</p>
        </section>
      </section>
    </div>
  </div>
</section>