doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
    script(src="./js/main.bundle.js" defer) 
    title About
  body
    header  
      include components/nav.pug 
    
    main.about__canvas 
      section
        h1.about__header 
          | We work  
          br 
          | as part
          br
          | of your team
        p.about__description We believe that 
          br
          | «Sincere service is doing not only 
          |  what you should do, 
          br
          | but also what you might not do.»
        a(href="#").download__button Download the presentation

        div.points__canvas
          div.points__item 
            p 
              span 10
              br
              | Years on the market
          div.points__item 
            p 
              span +100
              br
              | Clients
          div.points__item 
            p 
              span 6000
              br
              | Projects
          div.points__item 
            p 
              span 30
              br
              | Employees
          div.points__item 
            p 
              span 300
                sup m2
              br
              | Warehouses
      
      section.team__canvas 
        h2.team__header Team
        div.team__photos
          div.team__photo.team__photo_1
            picture
              source(srcset="./images/about/1_office-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/1_office-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/1_office-d@2x.jpg 2x" src="./images/about/1_office-d@1x.jpg", alt="Офис")
          div.team__photo.team__photo_2
            picture
              img(srcset="./images/about/2_man-d@2x.jpg 2x" src="./images/about/2_man-d@1x.jpg", alt="Мужик")
          div.team__photo
            picture
              source(srcset="./images/about/3_team-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/3_team-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/3_team-d@2x.jpg 2x" src="./images/about/3_team-d@1x.jpg", alt="Team")
          div.team__photo.team__photo_4
            picture
              source(srcset="./images/about/4_team-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/4_team-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/4_team-d@2x.jpg 2x" src="./images/about/4_team-d@1x.jpg", alt="Team")
          div.team__photo
            picture
              source(srcset="./images/about/5_team-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/5_team-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/5_team-d@2x.jpg 2x" src="./images/about/5_team-d@1x.jpg", alt="Team")
          div.team__photo
            picture
              source(srcset="./images/about/6_office-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/6_office-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/6_office-d@2x.jpg 2x" src="./images/about/6_office-d@1x.jpg", alt="Office")
          div.team__photo.team__photo_7
            picture
              source(srcset="./images/about/7_office-m@2x.jpg 2x" media="(max-width: 400px)")
              source(srcset="./images/about/7_office-m@1x.jpg" media="(max-width: 400px)")
              img(srcset="./images/about/7_office-d@2x.jpg 2x" src="./images/about/7_office-d@1x.jpg", alt="Office")

      include components/form.pug

    footer.projects__footer
      include components/footer.pug