doctype html
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="./css/style.min.css")
      script(src="./js/main.bundle.js" defer) 
      title Document
    body.index_body 
      header 
        include components/greetings.pug
        include components/nav.pug 
      main.main_canvas
        include components/main-sections.pug
      footer.footer_canvas 
        include components/footer.pug